<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars added by Users</title>
</head>

<body>
    <ul>
        <% userCars.forEach((car)=>{ %>
            <li style="list-style: none;">
                Car Name:
                <%= car.name %> <br> Car Brand:
                    <%= car.brand %> <br> Car Color:
                        <%= car.color %> <br>
            </li>
            <% }); %>
    </ul>
</body>

</html>